* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
}

.order {
  width: 100%;
  min-width: 300px;
  max-width: 350px;
  padding: 25px;
  background-image: linear-gradient(to right, #8ac7f6, #1891e2);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.order-counter {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: bold;
}
.order::after, .order::before{
  content: '';
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.order::before {
  bottom: -90px;
  right: -20px;
}
.order::after {
  right: -90px;
  bottom: 50px;
}