* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-image: url("./../imgs/зображення_viber_2024-06-18_18-45-13-574.webp");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 50px;
    text-align: center;
}