* {
  box-sizing: border-box;
}
p::first-letter {
  color: red;
  font-size: 40px;
}
p::first-line {
  font-style: italic;
}
*::selection {
  background-color: gray;
}
h1::before {
content: '<<';
}
h1::after {
  content: '>>';
}
