* {
  box-sizing: border-box;
}
table {
  border: 2px solid black;
  border-collapse:collapse ;
  border-spacing: 0;
}
td, th {
  border: 1px solid black;
  padding: 5px;
}
thead {
  color: white;
}
.chosePlan {
  background-color: rgb(180, 189, 212)
}
.starter, .starterPlanCost {
  background-color: rgb(124, 140, 180)
}
.econom, .economPlanCost {
  background-color: rgb(71, 93, 151);
}
.standart, .standartPlanCost{
  background-color: rgb(32, 48, 90);
}
.line2 :nth-child(2n) {
  background-color:#f3f3f3
}
.line4 :nth-child(2n) {
  background-color:#f3f3f3
}
.line6 :nth-child(2n) {
  background-color:#f3f3f3
}
.line1 :nth-child(2n+1) {
  background-color:  #dbdbdb
}
.line3 :nth-child(2n+1) {
  background-color:  #dbdbdb
}
.line5 :nth-child(2n+1) {
  background-color:  #dbdbdb
}
.line7 :nth-child(2n+1) {
  background-color:  #dbdbdb
}
.line2 :nth-child(2n+1) {
  background-color: #e6e6e6
}
.line4 :nth-child(2n+1) {
  background-color: #e6e6e6
}
.line6 :nth-child(2n+1) {
  background-color: #e6e6e6
}
.line1 :nth-child(2n) {
  background-color: #e6e6e6
}
.line3 :nth-child(2n) {
  background-color: #e6e6e6
}
.line5 :nth-child(2n) {
  background-color: #e6e6e6
}
.line7 :nth-child(2n) {
  background-color: #e6e6e6
}
