/* Селектор тегу (типу) */
h1 {
    color: blue;
    font-family: initial;
    border: inherit;
}

/* Селектор класу */ 
.annotation {
    font-size: 20px;
}

/* Селектор ідетифікатора */

#subscribe-btn {
    color: red;
}



body {
    font-family: sans-serif;
    border: 3px red solid;
    text-align: center;
}